body {
  background-color: #282828;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.App {
  text-align: left;
  margin: 10px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.monster_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #444444;
  height: 110px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.monster_photo {
  display: flex;
  width: 100px;
  height: 100px;
  margin-left: 6px;
  margin-top: 6px;
  margin-right: 10px;
}

.monster_data {
  width: 600px;
  display: flex;
}

.monster_type {
  width: 200px;
  justify-content: right;
  text-indent: 5px;
  background-color: #777777;
}

.monster_rarity {
  width: 150px;
  justify-content: right;
  background-color: #888888;
}

.search_group {
  display: inline;
}

.MenuItem{
  flex-direction: column;
  margin-right: 40px;
}

#search{
  color: black;
}

ul{
  flex-direction: column;
  margin-right: 40px;
}

ul li{
  width: 100%;
  display:flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
